@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-color: #c9d1d9;
  }
}

h1, h2, h3, h4, blockquote {
  color: var(--bs-emphasis-color);
}

.app-worning-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
.app-warning {
  position: absolute;
  font-size: .9rem;
  top: .75rem;
  right: -4rem;
  color: black;
  background-color: orange;
  padding: .2rem 4rem;
  text-align: center;
  transform: rotate(45deg);
}

.app-navbar-logo {
  display: inline-block;
  border-radius: 5px;
  margin-right: .66rem;
  overflow: hidden;
}

.navbar-toggler {
  border: 0;
  padding: .12rem .25rem;
}

.app-hero {
}

.app-hero-logo {
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
}

.app-hero h1 {
  font-weight: 500;
  letter-spacing: 1px;
}

.app-hero-logo > img {
  width: 64px;
  height: 64px;
}

.lead {
  font-size: 1.25em;
  color: color-mix(in srgb, var(--bs-body-color) 75%, transparent);
}
@media (min-width: 530px) {
  .lead {
    font-size: 1.3em;
  }
}
@media (min-width: 576px) {
  .lead {
    font-size: 1.5em;
  }
}
@media (min-width: 992px) {
  .lead {
    font-size: 1.75em;
  }
}

.app-hero-code {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  padding: .5rem 1.5rem .5rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 6px;
  -webkit-user-select: none;
  user-select: none;
  cursor: text;
}

.app-hero-code > i {
  display: inline-block;
  color: black !important;
  font-size: 1.25rem;
  width: 1rem;
  margin: 0 1.5rem 0 0;
}
@media (prefers-color-scheme: dark) {
  .app-hero-code > i {
    color: white !important;
  }
}

.app-hero-code > code {
  font-size: 1rem;
  -webkit-user-select: text;
  user-select: text;
}

.app-selling-points {
  padding: 1.25rem 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 6px;
  margin: 0;
  margin-bottom: 2rem;
}
.app-selling-points > *:last-child {
  margin-bottom: -1.25rem;
}

.app-points {
  margin-bottom: -.5rem;
}

h3.card-title {
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  h3.card-title {
    font-size: 1.75rem;
  }
}

.card-title a {
  text-decoration: none;
}

.card-title a:hover {
  text-decoration: underline;
}

.card.borderless {
  border: 0;
}

.card-body {
  font-size: 18px;
}

.markdown-body {
  background-color: unset;
  margin-top: -1.5rem;
  margin-bottom: -.5rem;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.markdown-body p {
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.markdown-body pre {
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 6px;
}

.markdown-body .app-sample {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 6px;
  margin-bottom: 1rem;
}
.markdown-body .app-sample h3 {
  position: relative;
  color: rgb(33, 37, 41);
  background-color: rgba(33, 37, 41, 0.03);
  font-size: .9rem;
  font-weight: normal;
  letter-spacing: .5px;
  padding: .5rem .33rem .5rem 1.125rem;
  margin: 0;
}
.markdown-body .app-sample h3 i {
  font-size: 1rem;
}
.markdown-body .app-sample i.right {
  position: absolute;
  top: -1.15rem;
  right: -1rem;
  font-size: 1.66rem;
  line-height: 1.66rem;
  background-color: white;
  border: 2px solid white;
  border-radius: 1rem;
}
.markdown-body .app-sample pre,
.markdown-body .app-sample iframe {
  border: 0;
  margin-bottom: 0;
}
.markdown-body .app-sample iframe {
  opacity: 0;
}
@media (prefers-color-scheme: dark) {
  .markdown-body .app-sample {
    background-color: rgb(33, 37, 41);
    border-color: rgba(255, 255, 255, 0.15);
  }
  .markdown-body .app-sample h3 {
    color: rgb(255, 255, 255);
    background-color: rgb(43, 48, 53);
  }
  .markdown-body .app-sample i.right {
    background-color: rgb(33, 37, 41);
    border: 2px solid rgb(33, 37, 41);
  }
}


.markdown-body pre code {
  font-size: 14px;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .markdown-body pre code {
    font-size: 15px;
  }
}

.markdown-body iframe {
  background-color: transparent;
  width: 100%;
  height: calc(100% - 1rem);
  padding: .5rem .66rem;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 6px;
  overflow: hidden;
}

.markdown-body blockquote {
  padding-left: .9rem;
  border-left: 4px solid #2cb74d; /*rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));*/
}

.markdown-body a {
  text-decoration: none;
}
.markdown-body a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .app-selling-points,
  .app-hero-code,
  .app-hero-code:hover,
  .app-hero-code:active {
    border-color: rgba(255, 255, 255, 0.15);
  }
  .markdown-body pre {
    border: 1px solid rgba(255, 255, 255, 0.15)
  }
  .markdown-body iframe {
    border: 1px solid rgba(255, 255, 255, 0.15)
  }
  .markdown-body blockquote {
    border-color: #28a745;
  }

}

.markdown-body .md-row {
  display: flex;
  flex-direction: column;
  gap: .55rem;
  margin-bottom: 1rem;
}
.markdown-body .app-selling-ponts ul {
  margin-bottom: -.5rem;
}
.markdown-body .app-selling-ponts .md-row {
  margin-bottom: 0;
}
.markdown-body .app-selling-ponts + h2 {
  margin-top: 2.25rem;
}

@media (min-width: 992px) {
  .markdown-body .md-row {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .markdown-body .md-col-1 {
    display: flex;
    flex: 2;
  }

  .markdown-body .md-col {
    display: flex;
    flex: 1;
  }
}

.app-why-pagelogic {
  margin-top: -1.5rem;
  margin-bottom: 3.25rem;
}
.app-why-pagelogic h2 {
  margin-bottom: 1.5rem;
}
.app-why-pagelogic .card {
  border: 0;
}
.app-why-pagelogic .card-body {
  padding: 0;
}

ul.app-card-points {
  list-style-type: "✓  ";
}
ul.app-card-points > li {
  /* color: color-mix(in srgb, currentColor 75%, transparent); */
  margin: 1.25rem 0;
}
ul.app-card-points > li:first-of-type {
  margin-top: 1.5rem;
}
ul.app-card-points > li > h4 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
  margin-bottom: .66rem;
}

blockquote.blockquote {
  font-weight: 600;
  margin-bottom: .66rem;
}

.app-roadmap {
  margin-top: -2.5rem;
  margin-bottom: 1.75rem;
}

.app-roadmap p {
  font-size: 18px;
}
