@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-color: #c9d1d9;
  }
}

h1, h2, h3, h4, blockquote {
  color: var(--bs-emphasis-color);
}

.app-warning {
  color: white;
  background-color: orange;
  padding: .25rem 0;
  text-align: center;
}

.app-navbar-logo {
  display: inline-block;
  border-radius: 5px;
  margin-right: .66rem;
  overflow: hidden;
}

.navbar-toggler {
  border: 0;
  padding: .12rem .25rem;
}

.app-hero {
}

.app-hero-logo {
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
}

.app-hero-logo > img {
  width: 64px;
  height: 64px;
}

.lead {
  font-size: 1.25em;
  color: color-mix(in srgb, var(--bs-body-color) 66%, transparent);
}
@media (min-width: 530px) {
  .lead {
    font-size: 1.3em;
  }
}
@media (min-width: 576px) {
  .lead {
    font-size: 1.5em;
  }
}
@media (min-width: 992px) {
  .lead {
    font-size: 1.75em;
  }
}

.app-hero-code {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  padding: .5rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 6px;
  -webkit-user-select: none;
  user-select: none;
  cursor: text;
}

.app-hero-code > i {
  display: inline-block;
  font-size: 1.25rem;
  width: 1rem;
  margin: 0 .66rem 0 -.5rem;
  opacity: .5;
}

.app-hero-code > code {
  font-size: 1rem;
  -webkit-user-select: text;
  user-select: text;
}

.app-selling-points {
  padding: 1.25rem 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 6px;
  margin: 0;
  margin-bottom: 2rem;
}
.app-selling-points > *:last-child {
  margin-bottom: -1.25rem;
}

.app-points {
  margin-bottom: -.5rem;
}

h3.card-title {
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  h3.card-title {
    font-size: 1.75rem;
  }
}

.card-title a {
  text-decoration: none;
}

.card-title a:hover {
  text-decoration: underline;
}

.card.borderless {
  border: 0;
}

.card-body {
  font-size: 18px;
}

.markdown-body {
  background-color: unset;
  margin-top: -1.5rem;
  margin-bottom: -.5rem;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.markdown-body p {
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.markdown-body pre {
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 6px;
}

.markdown-body pre code {
  background-color: transparent;
}

.markdown-body iframe {
  background-color: transparent;
  width: 100%;
  height: calc(100% - 1rem);
  padding: .5rem .75rem;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 6px;
  overflow: hidden;
}

.markdown-body blockquote {
  padding-left: .9rem;
  border-left: 4px solid #2cb74d; /*rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));*/
}

.markdown-body a {
  text-decoration: none;
}
.markdown-body a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .app-selling-points,
  .app-hero-code,
  .app-hero-code:hover,
  .app-hero-code:active {
    border-color: rgba(255, 255, 255, 0.15);
  }
  .markdown-body pre {
    border: 1px solid rgba(255, 255, 255, 0.15)
  }
  .markdown-body iframe {
    border: 1px solid rgba(255, 255, 255, 0.15)
  }
  .markdown-body blockquote {
    border-color: #28a745;
  }

}

.markdown-body .md-row {
  display: flex;
  flex-direction: column;
  gap: .55rem;
  margin-bottom: 1rem;
}
.markdown-body .app-selling-ponts ul {
  margin-bottom: -.5rem;
}
.markdown-body .app-selling-ponts .md-row {
  margin-bottom: 0;
}
.markdown-body .app-selling-ponts + h2 {
  margin-top: 2.25rem;
}

@media (min-width: 992px) {
  .markdown-body .md-row {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .markdown-body .md-col-1 {
    display: flex;
    flex: 2;
  }

  .markdown-body .md-col {
    display: flex;
    flex: 1;
  }
}

.app-why-pagelogic {
  margin-top: -1.5rem;
  margin-bottom: 3.25rem;
}
.app-why-pagelogic h2 {
  margin-bottom: 1.5rem;
}
.app-why-pagelogic .card {
  border: 0;
}
.app-why-pagelogic .card-body {
  padding: 0;
}

ul.app-card-points {
  list-style-type: " →  ";
}
ul.app-card-points > li {
  /* color: color-mix(in srgb, currentColor 75%, transparent); */
  margin: 1.25rem 0;
}
ul.app-card-points > li:first-of-type {
  margin-top: 1.5rem;
}
ul.app-card-points > li > h4 {
  /* font-size: 19px; */
  /* font-weight: bolder; */
  /* color: var(--bs-link-color); */
  /* color: color-mix(in srgb, var(--bs-body-color) 100%, transparent); */
  /* margin: 0; */
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
  margin-bottom: .66rem;
}

blockquote.blockquote {
  font-weight: 600;
  margin-bottom: .66rem;
}

.app-roadmap {
  margin-top: -2.5rem;
  margin-bottom: 1.75rem;
}

.app-roadmap p {
  font-size: 18px;
}
